<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="IDX-DE-DWH_Project"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="IDX_DE_DWH_PROJECT"/>
    <stringAttribute key="TALEND_JOB_ID" value="_cN934IeeEe6O_Y-8SlsgUQ"/>
    <stringAttribute key="TALEND_JOB_NAME" value="Job_Product"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
